
{% extends "layout.html" %}
{% block body %}

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Comparison Site (Compare Anything Anywhere) </h1>
                    <p class="lead text-muted">Here is the list of all common medicines who have the same componants to used to treat or reduce the symptoms of type..</p>
                    <p>
                        <a href="/medicine" class="btn btn-primary my-2">Compare Medicine</a>
                        <a href="/e_commerce" class="btn btn-secondary my-2">Compare E-Commerce</a>
                    </p>
                </div>
            </div>
        </section>

       
    </main>


    {% endblock %}

