{% extends "layout.html" %}
{% block body %}
<div class="mx-5 my-2" style="position: absolute;
right: 100px;
width: 200px;
height: 120px;">
    <a class="btn btn-primary float-left" href="/md_dashboard">WC {{username}}</a>
    <a class="btn btn-primary float-left" href="/md_logout"> Logout</a>
</div>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Here is the list of medicines Where You can add similar medicine </h1>


                <div>
                    <form class="form-inline my-2 my-lg-0" action="/search_medicine" method="post">
                        <input class="form-control mr-sm-2 my-2 py-2" type="search" placeholder="Search"
                            aria-label="Search" name='search_md'>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <hr>
                    <hr>
                    <a class="btn btn-primary float-right my-2" href="/md_dashboard"> Reset Filter/See All</a>
                </div>
                <hr>
                <div class="Container">
                    <div class="alert alert-success" role="alert">
                        !! There are {{no_of_medicine}} Medicine for which we have generic medicines !!
                    </div>
                    <hr>
                    <div class="Container">
                        {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                        {% for category,message in messages %}
                        <div class="alert alert-{{category}}" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Sno</th>
                                    <th scope="col">Medicine Name</th>
                                    <th scope="col">Component Name</th>
                                    <th scope="col">Company Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Add/Delete Medicine</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = namespace(value=1) %}
                                {% for medicine in actual_medicines %}

                                <tr>
                                    <th scope="row">{{i.value}}</th>
                                    <td>{{medicine.Name}}</td>
                                    <td>{{medicine.Component}}</td>
                                    <td>{{medicine.Company}}</td>
                                    <td>{{medicine.Date}}</td>
                                    <td><a href="#"><button class="btn btn-primary">Add</button></a></td>
                                    <td><a href="/import_generic/{{medicine.Name}}"><button class="btn btn-primary">Import</button></a></td>
                                    <td><a href="/view_generic/{{medicine.Name}}"><button
                                                class="btn btn-primary">View</button></a></td>
                                    <!-- <td><a href="/delete_medicine/{{medicine.Name}}"><button
                                            class="btn btn-primary">Delete</button></a></td> -->
                                </tr>
                                {% set i.value = i.value + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="container">

                            <button class="btn btn-outline-primary float-left " role="button" onclick="window.location.href='{{prev}}'" {{prvstatus}}> &larr;Previous</button>
                            <button class="btn btn-outline-primary" onclick="window.location.href='{{next}}'"  {{nxtstatus}}>Next &rarr;</button>
                         

                        </div>
                    </div>

                </div>


            </div>
        </div>




        </div>
        </div>
    </section>

    
</main>

{% endblock %}